.sidebar-option {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
    overflow-y: auto;
}

.sidebar-option:hover {
    opacity: 0.9;
    background-color: #340e36;
}

.sidebar-option__icon {
    padding: 10px;
    font-size: 17px !important;
    color: lightgray;
}

.sidebar-option__channel {
    padding: 10px 0;
    color: lightgray;
}

.sidebar-option__hash {
    padding: 10px;
    color: lightgray;
}

.sidebar-option > h3 {
    font-weight: 500;
    color: lightgray;
}